$red: #ff0000;
$dark-red: #b20000;
$light-yellow: #ffa;
$white: #fff;
$violet: #b674c7;
$black: #1a1a1a;

//colors for skills background color in order
$powder: #bfd8d2;
$peach: #fedcd2;
$warm: #df744a;

//colors for intro box change in order

$straw: #dbd56e;
$asparagus: #88ab75;
$light-sea-green: #2d93ad;
$middle-red: #de8f6e;

//colors for intro box change in order (not in use)
$burgundy: #880d1e;
$rusty-field: #dd2d4a;
$light-crimson: #f26a8d;
$pink: #f49cbb;

$light-green: #50ff00;
