@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Monoton');

$regular-font: 'Abel', sans-serif;
$bold-font: 'Abril Fatface', cursive;
$fun-font: 'Monoton', cursive;
