.initial-description-wrapper {
  position: relative;
  display: flex;
  top: 20px;
  width: 90%;
  margin: 0px auto;
  h6 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
  }
}

.about-1-icons {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100px;
  width: 100px;
  span {
    background-color: green;
    height: 3px;
    position: absolute;
    top: 29%;
    right: 0px;
    width: 20px;
  }
}

.death-star-not-active {
  display: none;
}

.death-star-active {
  display: inline-block;
  animation: 5s deathBeam;
  opacity: 0;
}

#about-1-background,
#about-2-background {
  position: relative;
  height: 400px;
  width: 50%;
}

.about-1-icons-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#about-1-background {
  border-radius: 20px;
  overflow: hidden;
}

#about-2-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  border-radius: 20px;
  top: 50px;
}

@keyframes deathBeam {
  0% {
    opacity: 1;
    background: $asparagus;
    width: 20px;
  }
  100% {
    background: $light-green;
    width: 300px;
    right: -100vw;
  }
}

@-webkit-keyframes deathBeam {
  0% {
    opacity: 1;
    background: $asparagus;
    width: 20px;
  }
  100% {
    background: $light-green;
    width: 300px;
    right: -100vw;
  }
}
