.initial-description-wrapper {
  position: relative;
  display: flex;
  width: 90%;
  margin: 0px auto;
  h6 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
  }
  div {
    position: relative;
    height: 400px;
    width: 50%;
  }
  i {
    font-size: 8em;
  }
}

#about-1-background {
  animation: colorchange 40s infinite;
  -webkit-animation: colorchange 40s infinite;
}

#about-2-background {
  background-position: center;
  background-repeat: no-repeat;
  top: 50px;
}

@keyframes colorchange {
  0% {
    background: red;
  }
  25% {
    background: orange;
  }
  50% {
    background: blue;
  }
  75% {
    background: green;
  }
  100% {
    background: red;
  }
}

@-webkit-keyframes {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  75% {
    background: green;
  }
  100% {
    background: red;
  }
}
