.main-wrapper {
}

.video-wrapper {
  bottom: 0;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 720px;
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 125vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main-title {
  color: #fff;
  font-family: 'Playfair Display', serif;
  top: 30vh;
  margin: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}

.main-contact-btn-wrapper {
  position: absolute;
  display: flex;
  top: 90vh;
  justify-content: center;
  width: 100%;
}

#scroll-to-about {
  font-size: 50px;
  color: #fff;
  &:hover {
    color: red;
    transition: all 0.5s;
  }
}
