.main-wrapper {
}

.video-wrapper {
  bottom: 0;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 720px;
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 125vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main-title-wrapper {
  color: $white;
  font-family: $fun-font;
  top: 100px;
  margin: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  // h1 {
  //   // color: $white;
  //   // font-size: 4.5em;
  //   // animation: glowing 5s infinite;
  //   // -webkit-animation: glowing 5s infinite;
  //   position: relative;
  // }
}

.intro-title {
  color: $white;
  font-size: 4em;
  position: relative;
}

#intro-flash {
  animation: flash 3s;
  -webkit-animation: flash 3s;
  background-color: $white;
  display: inline-flex;
  height: 2px;
  margin: 0px auto;
  width: 0px;
  z-index: 10;
}

.main-contact-btn-wrapper {
  position: absolute;
  display: flex;
  top: 90vh;
  justify-content: center;
  width: 100%;
}

#scroll-to-about {
  font-size: 50px;
  color: $white;
  &:hover {
    color: $red;
    transition: all 0.5s;
  }
}

@keyframes flash {
  0% {
    max-width: 600px;
    width: 90%;
  }
  90% {
    background-color: $black;
  }
  100% {
    width: 0px;
  }
}

@-webkit-keyframes flash {
  0% {
    max-width: 600px;
    width: 90%;
  }
  100% {
    width: 0px;
  }
}

.intro-title {
  color: #fff;
  text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
}
.intro-title span:nth-of-type(3) {
  animation: lower 11s linear infinite;
}
.intro-title span:nth-of-type(1) {
  animation: lower 11s linear infinite;
}
.intro-title span:nth-of-type(7) {
  animation: upper 14s linear infinite;
}
.intro-title span:nth-of-type(5) {
  animation: upper 7s linear infinite;
}
.intro-title span:nth-of-type(1) {
  animation: lower 3s linear infinite;
}
.intro-title span:nth-of-type(4) {
  animation: lower 6s linear infinite;
}
.intro-title span:nth-of-type(9) {
  animation: lower 10s linear infinite;
}
.intro-title span:nth-of-type(2) {
  animation: upper 10s linear infinite;
}
.intro-title span:nth-of-type(3) {
  animation: upper 9s linear infinite;
}
.intro-title span:nth-of-type(2) {
  text-shadow: none;
  opacity: 0.4;
}
@keyframes upper {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@keyframes lower {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@media (max-width: 600px) {
  .intro-title {
    font-size: 2em;
  }
}
