.projects {
  position: relative;
  height: 500px;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 320px;
  overflow: hidden;
  width: 90%;
  border-top: 20px double $gold;
}

.project {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: all 1s;
  width: 100%;
}

.not-active-project {
  top: -500px;
}

.active-project {
  top: 0px;
}

.projects-btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid $white;
  bottom: 5%;
  border-radius: 100%;
  color: $white;
  font-size: 20px;
  padding: 20px;
  position: absolute;
  transition: all 0.5s;
  z-index: 5;
  &:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
  }
  &:active {
    background-color: #fff;
  }
}

// .project-content {
//   position: absolute;
//   transition: all 0.5s;
//   height: 100%;
//   width: 100%;
// }

.project-info {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}

.project-title {
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
}

.project-links {
  display: flex;
  // position: absolute;
  // right: 0px;
  a {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    height: 60px;
    width: 75px;
  }
}

.projects-btn:nth-of-type(1) {
  left: 10px;
}
.projects-btn:nth-of-type(2) {
  right: 10px;
}
