@import 'variables';
@import 'main';
@import 'burger-menu';
@import 'initial-description';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background: #1a1a1a;
}

h6 {
  font-family: 'Cabin', sans-serif;
}
